version: '2'

networks:
  app-tier:
    driver: bridge

services:
  etcd:
    image: 'bitnami/etcd:latest'
    environment:
      - ALLOW_NONE_AUTHENTICATION=yes
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd:2379 #DevSkim: ignore DS137138 
    ports:
      - 2379:2379
      - 2380:2380
    networks:
      - app-tier